.footer {
  background-color: $silver-color;
  color: $white-color;
  padding: 4.8rem 0;
  text-align: left;

  @include respond(phone) {
    border: 0px;
  }

  & hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    width: 25%;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
  }
}

.back-to-top i {
  color: $white-color;
  margin: 1rem 0 $default-font-size;
  transition: all 0.2s ease-in;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
  }
}
